
<nav class="bg-indigo-500 p-6">
    <div class="container mx--auto">
         <a class="text-white font-bold text-xl" href="#">My Site</a>
            <div class="flex items-center ml-auto">
            <a class="text-white mr-6" href="#">Home</a>
            <a class="text-white mr-6" href="/admin">Admin</a>
            <a class="text-white mr-6" href="/downloads">Downloads</a>
            </div>
    </div>
</nav>